@model NorbitsChallenge.Models.Dto.CarDto

<form asp-action="Edit" asp-route-oldLicencePlate="@Model.LicensePlate">
    <label for="brand">Bilmerke:</label><br/>
    <input type="text" id="brand" name="brand" value="@Model.Brand"><br>
    <label for="model">Modell:</label><br/>
    <input type="text" id="model" name="model" value="@Model.Model"><br>
    <label for="licensePlate">Registreringsnummer:</label><br/>
    <input type="text" id="licensePlate" name="licensePlate" value="@Model.LicensePlate"><br>
    <label for="tireCount">Dekk på dekkhotell:</label><br/>
    <input type="number" id="tireCount" name="tireCount" value="@Model.TireCount"><br>
    <label for="description">Beskrivelse:</label><br/>
    <textarea type="text" id="description" name="description">@Model.Description</textarea>
    <br>
    <br>
    <button type="submit">Lagre</button>
</form>
<br/>
<a asp-controller="Home" asp-action="Index">Tilbake</a>
